<div class="col mb-4">
  <a href="{{ include.post.url | relative_url }}" class="text-decoration-none text-dark">
    <div class="card h-100 shadow-sm border-0">
      {% if include.post.image %}
        <img src="{{ include.post.image | relative_url }}" class="card-img-top rounded-top" alt="{{ include.post.title }}">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title mb-2">{{ include.post.title }}</h5>
        <p class="card-text text-muted">{{ include.post.description }}</p>
      </div>
    </div>
  </a>
</div>
